exctends ../layout/main-layout
block content

main
  section.main-content
    .container-fluid
      .row
        .col-xxl-7.col-xl-6.col-lg-6.vol-md-12
          .hero-section.pb-5
            h1.hero-title.text-white.m-0
              | text 
              br
              | text
            p.hero-desk.text-white.my_5
              |Lorem ipsum dolor sit 
              br
              |amet consectetur 
              br
              |adipisicing elit. Nostrum quasi enim sequi omnis cum? 
              br
              |Libero nobis placeat,
              br
              |unde laboriosam fugit deleniti officia 
              br
              |porrobr
              |harum tempore sed! Qui sunt eius dolor!
            a.btn.btn-purple.text-white(href='/') Узнать больше
        .col-xxl-5.col-xl-6.col-lg-6.vol-md-12
          .first-card-row.card-games.d-flex.flex-column
            .d-flex.justify-content-beetween
              .gta-img
                img(src='./img/gta.png' alt='')
              .fort-img
                img(src='./img/fort.png' alt='')
              .dota-img
                img(src='./img/dota.png' alt='')